* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background3.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 50px;
}

form {
    margin-top: 40px;
    margin-inline: auto;
    width: 90%;
    max-width: 400px;
    background-color: #0009;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    text-align: center;
}

.input {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: solid 2px #fff;
    background-color: #0000;
    caret-color: #BFAED6;
    color: #fff;


}

.dividir {
    margin-bottom: 50px;
}

.label {
    position: absolute;
    color: #fff;
    left: 0;
    margin-left: 60px;
    transition: 300ms;
    cursor: text;
}

#animeinput:focus~#animelabel,
#personageminput:focus~#personagemlabel,
#imginput:focus~#imglabel,
#animeinput:valid~#animelabel,
#personageminput:valid~#personagemlabel,
#imginput:valid~#imglabel {
    transform: translateY(-24px);
    font-size: 12px;
}

#btncriar {
    padding: 7px;
    border-radius: 10px;
    background-color: #fff4;
    border: none;
    color: #000;
    transition: 500ms;
}

.btncriar:hover {
    background-color: #fff5;
    color: #fff;
}

#cards {
    margin-top: 40px;
    margin-inline: auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card {
    text-align: center;
}

.card h2,
h3 {
    margin-bottom: 10px;
    color: #fff;
}

.imgcard {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.alert {
    margin-top: 10px;
    color: rgb(187, 131, 131);
    font-size: 12px;
}


/* position:absolute;
bottom: 0;
left: 0;
color: rgb(134, 134, 134);
cursor: text;
font-size: 15px;
transition: 300ms; */